@import 'codemirror-ssr/lib/codemirror.css';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light-border.css';
@import '@primer/css/support/variables/color-system.scss';

$sidebar-width: 280px;
$max-width: 800px;

:root {
  --bytemd-bg-color: #{$white};
  --bytemd-toolbar-bg-color: #{$gray-000};
  --bytemd-selection-color: #{$gray-100};
  --bytemd-overlay-bg-color: #{$white};
  --bytemd-text-color: #{$gray-900};
  --bytemd-border-color: #{$gray-200};
  --bytemd-primary-color: #{$blue};
  --bytemd-cursor-color: #5c5855;
}

.bytemd {
  --bytemd-tooltip-bg-color: var(--bytemd-text-color);
  --bytemd-tooltip-text-color: var(--bytemd-bg-color);

  // reset
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &-hidden {
    display: none !important;
  }

  /* Force content-box sizing for the elements where we expect it */
  .CodeMirror-scroll,
  .CodeMirror-sizer,
  .CodeMirror-gutter,
  .CodeMirror-gutters,
  .CodeMirror-linenumber {
    box-sizing: content-box;
  }
  .CodeMirror-cursor {
    background-color: var(--bytemd-cursor-color);
  }

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: var(--bytemd-text-color);
  border: 1px solid var(--bytemd-border-color);
  background-color: var(--bytemd-bg-color);
  height: 300px;

  .CodeMirror,
  code,
  kbd {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  }

  &-tooltip-content {
    padding: 5px 9px;
  }

  &-toolbar {
    padding: 4px 12px;
    border-bottom: 1px solid var(--bytemd-border-color);
    background-color: var(--bytemd-toolbar-bg-color);
    user-select: none;
    overflow: hidden;

    &-left {
      float: left;
    }

    &-right {
      float: right;
    }

    &-tab {
      display: inline-block;
      cursor: pointer;
      padding-left: 8px;
      padding-right: 8px;
      line-height: 24px;
      font-size: 14px;
      &-active {
        color: var(--bytemd-primary-color);
      }
    }

    &-icon {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      border-radius: 4px;
      margin-left: 6px;
      margin-right: 6px;
      svg,
      img {
        display: block;
        padding: 4px;
        width: 24px;
        height: 24px;
      }
      &:hover {
        background-color: var(--bytemd-border-color);
      }
      &-active {
        color: $blue-500;
      }
    }

    .tippy-box {
      font-size: 12px;
    }

    .tippy-box[data-theme~='bytemd-tooltip'] {
      background-color: var(--bytemd-tooltip-bg-color);
      color: var(--bytemd-tooltip-text-color);
    }

    .tippy-box[data-theme~='bytemd-tooltip'][data-placement^='top'] > .tippy-arrow::before {
      border-top-color: var(--bytemd-tooltip-bg-color);
    }
    .tippy-box[data-theme~='bytemd-tooltip'][data-placement^='bottom'] > .tippy-arrow::before {
      border-bottom-color: var(--bytemd-tooltip-bg-color);
    }
    .tippy-box[data-theme~='bytemd-tooltip'][data-placement^='left'] > .tippy-arrow::before {
      border-left-color: var(--bytemd-tooltip-bg-color);
    }
    .tippy-box[data-theme~='bytemd-tooltip'][data-placement^='right'] > .tippy-arrow::before {
      border-right-color: var(--bytemd-tooltip-bg-color);
    }

    .tippy-box[data-theme~='bytemd-dropdown-menu'] {
      background-color: var(--bytemd-overlay-bg-color);
      color: var(--bytemd-text-color);
      border: 1px solid var(--bytemd-border-color);
    }

    .tippy-box[data-theme~='bytemd-dropdown-menu'][data-placement^='top'] > .tippy-arrow::before {
      border-top-color: var(--bytemd-overlay-bg-color);
    }
    .tippy-box[data-theme~='bytemd-dropdown-menu'][data-placement^='bottom'] > .tippy-arrow::before {
      border-bottom-color: var(--bytemd-overlay-bg-color);
    }
    .tippy-box[data-theme~='bytemd-dropdown-menu'][data-placement^='left'] > .tippy-arrow::before {
      border-left-color: var(--bytemd-overlay-bg-color);
    }
    .tippy-box[data-theme~='bytemd-dropdown-menu'][data-placement^='right'] > .tippy-arrow::before {
      border-right-color: var(--bytemd-overlay-bg-color);
    }
    .tippy-box[data-theme~='bytemd-dropdown-menu'] > .tippy-arrow::after {
      content: "";
      position: absolute;
      z-index: -1;
      border-color: transparent;
      border-style: solid;
    }
    .tippy-box[data-theme~='bytemd-dropdown-menu'][data-placement^='top'] > .tippy-arrow::after {
      border-top-color: var(--bytemd-border-color);
      border-width: 7px 7px 0;
      top: 17px;
      left: 1px;
    }
    .tippy-box[data-theme~='bytemd-dropdown-menu'][data-placement^='bottom'] > .tippy-arrow::after {
      border-bottom-color: var(--bytemd-border-color);
      border-width: 0 7px 7px;
      bottom: 17px;
      left: 1px;
    }
    .tippy-box[data-theme~='bytemd-dropdown-menu'][data-placement^='left'] > .tippy-arrow::after {
      border-left-color: var(--bytemd-border-color);
      border-width: 7px 0 7px 7px;
      left: 17px;
      top: 1px;
    }
    .tippy-box[data-theme~='bytemd-dropdown-menu'][data-placement^='right'] > .tippy-arrow::after {
      border-right-color: var(--bytemd-border-color);
      border-width: 7px 7px 7px 0;
      right: 17px;
      top: 1px;
    }

    .tippy-content {
      padding: 0;
    }
  }

  &-dropdown {
    max-height: 300px;
    overflow: auto;
    font-size: 14px;
    &-title {
      margin: 0 12px;
      font-weight: 500;
      border-bottom: 1px solid var(--bytemd-border-color);
      line-height: 32px;
      color: var(--bytemd-text-color);
      white-space: nowrap;
    }
    &-item {
      display: flex;
      padding: 4px 12px;
      height: 32px;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background-color: var(--bytemd-selection-color);
      }

      &-icon {
        display: inline-block;
        vertical-align: middle;
        svg {
          display: block;
          padding: 4px;
          width: 24px;
          height: 24px;
        }

        &-right-arrow {
          opacity: 0.3;
          margin-left: 6px;
          width: 16px;
        }
      }
      &-title {
        display: inline-block;
        line-height: 24px;
        margin-right: auto;
        vertical-align: middle;
      }
    }
  }

  &-body {
    height: calc(100% - 33px - 25px);
    overflow: auto;
  }

  &-editor {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow: hidden;
    .CodeMirror {
      height: 100%;
      font-size: 14px;
      line-height: 1.5;
      pre.CodeMirror-placeholder {
        color: $gray-400;
      }
      .CodeMirror-lines {
        max-width: $max-width;
        margin: 0 auto;
        padding: 16px 0;
      }
      pre.CodeMirror-line,
      pre.CodeMirror-line-like {
        padding: 0 4%;
      }
    }
  }

  &-preview {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow: auto;
    .markdown-body {
      max-width: $max-width;
      margin: 0 auto;
      padding: 16px 4%;
    }
  }

  &-sidebar {
    display: inline-block;
    vertical-align: top; // Safari
    height: 100%;
    overflow: auto;
    font-size: 16px;
    border-left: 1px solid var(--bytemd-border-color);
    width: $sidebar-width;
    position: relative;
    padding: 0 16px;
    &-close {
      position: absolute;
      padding: 16px;
      top: 0;
      right: 0;
      cursor: pointer;
      &:hover {
        color: var(--bytemd-primary-color);
      }
    }
    h2 {
      font-size: 16px;
      font-weight: 600;
      margin: 32px 0 16px;
    }
    ul {
      padding-left: 0;
      color: $gray-400;
    }
  }

  &-help {
    font-size: 13px;
    ul {
      line-height: 20px;
      svg {
        width: 16px;
        height: 16px;
        display: block;
      }
      div {
        display: inline-block;
        vertical-align: top;
      }
    }
    li {
      list-style: none;
      margin-bottom: 12px;
    }
    &-icon {
      padding: 2px 0;
    }
    &-title {
      padding-left: 8px;
    }
    &-content {
      float: right;
      font-size: 12px;
    }
  }

  &-toc {
    li {
      list-style: none;
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 2;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &-active {
      color: var(--bytemd-primary-color);
      background-color: $gray-100;
    }
    &-first {
      font-weight: 500;
    }
  }

  &-status {
    font-size: 12px;
    line-height: 24px;
    border-top: 1px solid var(--bytemd-border-color);
    user-select: none;
    &-left {
      float: left;
      span {
        padding-left: 16px;
      }
      strong {
        font-weight: 600;
      }
    }
    &-right {
      float: right;
      label,
      span {
        margin-right: 16px;
        cursor: pointer;
      }
      span:hover {
        color: var(--bytemd-primary-color);
      }
      input {
        vertical-align: middle;
        margin-right: 3px; // CSS reset
      }
    }
    &-error {
      color: $red-500;
    }
  }

  &-fullscreen {
    &.bytemd {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: none;
      height: 100vh !important; // override user set height
    }
  }

  &-split {
    .bytemd-preview {
      border-left: 1px solid var(--bytemd-border-color);
    }
  }
}
